@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap');

$red: hsl(0, 100%, 68%);
$very-dark-blue: hsl(230, 29%, 20%);
$dark-grayish-blue: hsl(230, 11%, 40%);
$grayish-blue: hsl(231, 7%, 65%);
$light-grayish-blue: hsl(207, 33%, 95%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: Barlow, sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

a {
    cursor: pointer;
}

img {
    max-width: 100%;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    
    a { 
        color: hsl(228, 45%, 44%); 
    }
}