.gray_bg {
    background: $light-grayish-blue;
    border-bottom-left-radius: 25%;
    padding: 0;
    width: 50%;
    height: 50vh;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}