.gray_bg {
    background: $light-grayish-blue;
    border-bottom-left-radius: 5rem;
    padding: 0;
    width: 50%;
    height: 50vh;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.text {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    small {
        display: flex;
        align-items: center;
        gap: .5rem;
        // color: $grayish-blue;
        color: #555962;
        font-size: .8rem;

        span {
            background: $very-dark-blue;
            color: #fff;
            font-weight: 700;
            padding: .1rem .3rem;
            border-radius: 10rem;
            font-size: .8rem;
        }
    }

    h1 {
        color: $very-dark-blue;
        font-size: 2rem;
        font-family: Barlow Condensed;
        font-weight: 700;
    }

    p {
        color: $dark-grayish-blue;
    }

    .demo {
        display: flex;
        align-items: center;
        gap: .5rem;

        button {
            // background: $red;
            background: #E60000;
            border: none;
            border-radius: .25rem;
            color: #fff;
            font-family: Barlow Condensed;
            font-weight: 700;
            padding: .25rem;
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: relative;
    overflow: hidden;

    .illustration {
        max-width: 22.5rem;
        position: relative;
        left: 3.35rem;
    }
}

@media screen and (min-width: 1024px) {
    main {
        flex-direction: row-reverse;
        position: relative;
        padding: 3rem 7rem;
        height: 80vh;
        overflow: hidden;

        .text {
            margin-right: auto;
            width: 50%;

            h1 {
                font-size: 2.5rem;
            }
        }

        .illustration {
            position: absolute;
            left: 28rem;
            min-width: 70%;
            height: 75%;
        }

        button:hover {
            opacity: 0.7;
            transition: 0.3s ease;
        }
    }
}

@media screen and (min-width: 1440px) {
    main {
        .text {
            width: 40%;
            gap: 1rem;

            small {
                font-size: 1.25rem;

                span {
                    font-size: 1rem;
                }
            }

            h1 {
                font-size: 3rem;
            }

            p {
                font-size: 1.25rem;
            }
        }

        .illustration {
            left: 39rem;
        }
    }
}

@media screen and (min-width: 1600px) {
    main {
        .text {
            width: 35%;
            gap: 1.5rem;
            
            small {
                font-size: 1.5rem;

                span {
                    font-size: 1.25rem;
                }
            }

            h1 {
                font-size: 4.5rem;
            }

            p {
                font-size: 1.5rem;
            }

            button {
                font-size: 1.25rem;
            }
        }

        .illustration {
            left: 50rem;
        }
    }
}