@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: Barlow, sans-serif;
  line-height: 1.5;
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

a {
  cursor: pointer;
}

img {
  max-width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228deg, 45%, 44%);
}

@media screen and (max-width: 1023px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
  }
  header .hamburger {
    border: none;
    background: transparent;
  }
  header nav {
    width: 100%;
  }
  header nav .nav-ul {
    background: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    list-style-type: none;
    z-index: 1;
    top: -100%;
    margin: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: 1rem;
    padding: 1rem 0;
  }
  header nav .nav-ul.show {
    top: 3.5rem;
    transition: 0.3s ease;
  }
  header nav .nav-ul a {
    text-decoration: none;
    font-family: Barlow Condensed;
    font-weight: 700;
    color: hsl(230deg, 29%, 20%);
  }
  header nav .nav-ul .login {
    border-top: 1px solid hsl(231deg, 7%, 65%);
    width: 80%;
    padding-top: 1rem;
    text-align: center;
    color: hsl(231deg, 7%, 65%);
  }
}
@media screen and (min-width: 1024px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.5rem 7rem;
  }
  header .hamburger {
    display: none;
  }
  header nav .nav-ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;
  }
  header nav .nav-ul a {
    text-decoration: none;
    font-family: Barlow Condensed;
    font-weight: 700;
    color: hsl(230deg, 29%, 20%);
  }
  header nav .nav-ul a:hover {
    text-decoration: underline;
  }
  header nav .nav-ul .login {
    list-style-type: disc;
    color: #555962;
    margin-left: 1rem;
  }
}
@media screen and (min-width: 1440px) {
  a {
    font-size: 1.5rem;
  }
}
.gray_bg {
  background: hsl(207deg, 33%, 95%);
  border-bottom-left-radius: 5rem;
  padding: 0;
  width: 50%;
  height: 50vh;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.text small {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #555962;
  font-size: 0.8rem;
}
.text small span {
  background: hsl(230deg, 29%, 20%);
  color: #fff;
  font-weight: 700;
  padding: 0.1rem 0.3rem;
  border-radius: 10rem;
  font-size: 0.8rem;
}
.text h1 {
  color: hsl(230deg, 29%, 20%);
  font-size: 2rem;
  font-family: Barlow Condensed;
  font-weight: 700;
}
.text p {
  color: hsl(230deg, 11%, 40%);
}
.text .demo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.text .demo button {
  background: #E60000;
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  font-family: Barlow Condensed;
  font-weight: 700;
  padding: 0.25rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: relative;
  overflow: hidden;
}
main .illustration {
  max-width: 22.5rem;
  position: relative;
  left: 3.35rem;
}

@media screen and (min-width: 1024px) {
  main {
    flex-direction: row-reverse;
    position: relative;
    padding: 3rem 7rem;
    height: 80vh;
    overflow: hidden;
  }
  main .text {
    margin-right: auto;
    width: 50%;
  }
  main .text h1 {
    font-size: 2.5rem;
  }
  main .illustration {
    position: absolute;
    left: 28rem;
    min-width: 70%;
    height: 75%;
  }
  main button:hover {
    opacity: 0.7;
    transition: 0.3s ease;
  }
}
@media screen and (min-width: 1440px) {
  main .text {
    width: 40%;
    gap: 1rem;
  }
  main .text small {
    font-size: 1.25rem;
  }
  main .text small span {
    font-size: 1rem;
  }
  main .text h1 {
    font-size: 3rem;
  }
  main .text p {
    font-size: 1.25rem;
  }
  main .illustration {
    left: 39rem;
  }
}
@media screen and (min-width: 1600px) {
  main .text {
    width: 35%;
    gap: 1.5rem;
  }
  main .text small {
    font-size: 1.5rem;
  }
  main .text small span {
    font-size: 1.25rem;
  }
  main .text h1 {
    font-size: 4.5rem;
  }
  main .text p {
    font-size: 1.5rem;
  }
  main .text button {
    font-size: 1.25rem;
  }
  main .illustration {
    left: 50rem;
  }
}/*# sourceMappingURL=style.css.map */